:root {
  --background: #001d3d; /* -Dark-Blue */
  --2ndary-bg: #003566; /* -navy      */
  --accent: #ffc300; /* -orange    */
  --2ndary-accent: #ffd60a; /* -yellow    */
  --text: #f8f9fa; /* grey-white */
  --2ndary-text: #dee2e6; /* white-grey */

  --cornor-radius: 20px;
}

/* ========================================================
* Header / Footer/ Nav
* ====================================================== */

header,
footer {
  width: 80%;
  display: flex;
  height: 20px;
  margin: auto;
}

header {
  margin-left: 0.5rem;
  margin-bottom: 2.5rem;
  padding: 0.2rem;
}

#header-logo {
  width: 50px;
  margin-right: 1rem;
}

footer {
  margin-top: 1rem;
}

/* ========================================================
* Main / Body
* ====================================================== */

body {
  background: var(--background);
  color: var(--2ndary-text);
}

main {
  max-width: 1200px;
  margin: auto;
}

.hidden-link {
  color: var(--text);
  text-decoration: none;
}

.hidden-link :visited {
  color: var(--text);
}

/* ========================================================
* Other
* ====================================================== */

button:hover {
  background-color: var(--2ndary-accent);
}

/* ========================================================
* Home Page
* ====================================================== */

/*  Hero Sections */
#hero-section {
  text-align: center;
}

#hero-content {
  display: block;
  text-align: center;
}

#hero-img {
  max-width: 100%;
  border-radius: var(--cornor-radius);
}

/*  Product Category Cards  */
#prod-catagorys-sec {
  display: flex;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prod-catagory {
  border: 1px solid #ccc;
  border-radius: var(--cornor-radius);
  margin: 5%;
  padding: 1rem;
}

.prod-cat-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
