@import url("./base.css");

li {
  list-style-type: none;
  margin: 1rem;
}

.cart-item {
  min-height: 160px;
  display: flex;
  border: 1px, var(--text) solid;
  border-radius: var(--cornor-radius);
  padding-left: 1rem;
}

.cart-item-img {
  width: 200px;
  padding: 1rem;
}

.cart-img {
  height: 130px;
  border-radius: var(--cornor-radius);
}

#checkout-button {
  width: 300px;
  height: 40px;
}

.cart-footer {
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .cart-item {
    display: block;
    text-align: center;
    padding: 1rem;
  }

  .cart-item-img {
    width: 80%;
    margin: auto;
  }

  .cart-img {
    width: 100%;
    height: auto;
  }
}

